

mat-card {
  max-width: fit-content;
  padding: 20px;
  margin: 20px auto;
  align-content: center;
  max-height: fit-content;


}

.grid-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .row {
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap-reverse;

    mat-form-field {
      margin: 0 10px;
    }
  }

  .full-row {
    display: inherit;
    flex-direction: row;
    width: 100%;
  }

  .notes {
    width: 100%

  }

  textarea {
    overflow: auto;
  }
}

button {
  margin: 10px
}

$data-color: #eaeaea;
.container {
  display: flex;
  flex-direction: column;
  width: 21cm;
  margin: 20px;

  .header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    .left {
      align-content: flex-start;
    }
    .right {
      align-content: flex-end;
    }
    img {
      border-radius: 50%;
      max-block-size: 50px;
      margin-bottom: 10px;
    }
    h2 {
      margin: 0 5px;
    }
    p {
      font-size: large;
    }
  }

  .table-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;



    .large-row {
      display: inherit;
      flex-direction: column;
      justify-content: inherit;
      margin: 0 0 16px;
      padding: 10px;

      h3 {
        margin: 0;
        font-weight: bold;
      }
      p {
        background-color: $data-color;
        border: 1px groove $data-color;
        padding: 10px;

      }
    }
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: space-between;
      margin: 0 10px;
      padding: 10px;

      .data {
        margin: 0 10px;
        text-align: left;
        display: inherit;
        flex-direction: row;

        white-space: nowrap;
        h3 {
          margin-right: 5px;
          font-weight: bold;
        }
        p {
          border: 1px groove $data-color;
          width: 100%;
          text-align: left;
          background-color: $data-color;
          padding: 5px;
          white-space: nowrap;
        }
      }


    }


  }
}
