<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-card>
  <mat-card-title>
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="Ticket" class="container">
      <div class="header">
        <div class="left">
          <h3>Ticket #: {{Ticket._id}}</h3>
          <p>Created by {{Ticket.owner}}</p>
        </div>

        <div class="right">
          <h3>Status:</h3>
          <p>{{Ticket.isCurrentlyActive ? "Active" : "Completed"}}</p>
        </div>

      </div>

      <div class="table-container">
        <h2>Student Info</h2>
        <mat-divider></mat-divider>
        <div class="row">
          <div class="data">
            <h3>Name</h3>
            <p>{{Ticket.studentName}}</p>
          </div>

          <div class="data">
            <h3>Graduation</h3>
            <p>{{Ticket.gradYear}}</p>
          </div>

          <div class="data">
            <h3>Issue</h3>
            <p>{{Ticket.ticketIssue}}</p>
          </div>
        </div>
        <mat-divider></mat-divider>
        <h2>Damaged Device Info</h2>
        <div class="row">
          <div class="data">
            <h3>I.T. Barcode</h3>
            <p>{{Chromebook.annotatedAssetId}}</p>
          </div>

          <div class="data">
            <h3>Serial #</h3>
            <p>{{Chromebook.serialNumber}}</p>
          </div>

          <div class="data">
            <h3>Is Preventable</h3>
            <p>{{Ticket.beenAvoided ? "Yes" : "No"}}</p>
          </div>

          <div class="data" *ngIf="Ticket.beenAvoided">
            <h3>What could they have done differently</h3>
            <p>{{Ticket.doneDifferently}}</p>
          </div>
        </div>

        <div class="large-row">
          <h3>
            Device Issue
          </h3>
          <p>{{Ticket.deviceIssue}}</p>
        </div>

        <div class="large-row">
          <h3>
            Cause
          </h3>
          <p>{{Ticket.cause}}</p>
        </div>
        <mat-divider></mat-divider>
        <h2 *ngIf="Ticket.issuedLoaner">Loaner Device Info</h2>
        <mat-divider></mat-divider>
        <div class="row">
          <div class="data">
            <h3>Loaner #</h3>
            <p>{{Ticket.issuedLoanerNumber}}</p>
          </div>

          <div class="data">
            <h3>Loaner Barcode</h3>
            <p>{{loanerChromebook.annotatedAssetId}}</p>
          </div>

          <div class="data">
            <h3>Loaner Serial #</h3>
            <p>{{loanerChromebook.serialNumber}}</p>
          </div>

          <div class="data">
            <h3>Date issued</h3>
            <p>{{TicketDateString(Ticket)}}</p>
          </div>

          <div class="data">
            <h3>Model</h3>
            <p>{{loanerChromebook.model}}</p>
          </div>
        </div>


      </div>


    </div>

    <form [formGroup]="form" class="grid-form">
      <div class="row">
        <mat-form-field appearance="fill" >
          <mat-label>Status?</mat-label>

          <mat-select formControlName="status" >
            <mat-option value="Needs Repair">Needs Repair</mat-option>
            <mat-option value="Vandalism" >Vandalism</mat-option>
            <mat-option value="Needs to be Returned to Office" >Needs to be Returned to Office</mat-option>
            <mat-option value="Waiting for Return" >Waiting for Return</mat-option>
            <mat-option value="Completed" >Completed</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="fill" >
          <mat-label>Has the device been returned?</mat-label>

          <mat-select formControlName="deviceReturned" >
            <mat-option value=true>Yes</mat-option>
            <mat-option value=false >No</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" >
          <mat-label>Is the chromebook in good condition?</mat-label>

          <mat-select formControlName="loanerCond">
            <mat-option value=true>Yes</mat-option>
            <mat-option value=false >No</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" >
          <mat-label>Is the charger in good condition?</mat-label>

          <mat-select formControlName="chargerCond">
            <mat-option value=true>Yes</mat-option>
            <mat-option value=false >No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="full-row">
        <mat-form-field appearance="fill" class="notes">
          <mat-label>Notes</mat-label>
          <textarea
            matInput
            formControlName="notes"
            type="text"
            placeholder="Bla bla bla"
            [(ngModel)]="Ticket.notes"
            autocomplete="off"></textarea>
        </mat-form-field>

      </div>

    </form>

    <div class="div15">
      <button mat-raised-button color="primary" (click)="updateTicket()">Update Ticket</button>
      <button mat-raised-button color="accent" (click)="setTicketToComplete()">Set ticket to {{Ticket.isCurrentlyActive ? "Complete" : "Active"}}</button>
      <button mat-raised-button color="warn" (click)="deleteTicket()">Delete Ticket</button>
      <button mat-raised-button color="warn" routerLink="../../../../../">Return to search</button>
      <button mat-icon-button color="primary" class="right" (click)="printTicket()">
        <mat-icon>print</mat-icon>
      </button>
    </div>



  </mat-card-content>
</mat-card>
