<div class="container">

  <!--Tickets-->
  <mat-card *ngIf="student.Tickets.length > 0">
        <mat-card-title>Tickets</mat-card-title>
        <mat-card-content *ngFor="let ticket of student.Tickets">{{ticket}}</mat-card-content>
      </mat-card>

  <!--Chromebook-->
  <mat-card>
        <mat-card-title>
          <h3>Chromebook: {{chromebook.serialNumber}}</h3>
        </mat-card-title>

        <mat-card-content>
          <table class="table">

            <tr>
              <th class="table-title">
                VASD Code
              </th>
              <td class="table-data">
                {{chromebook.annotatedAssetId}}
              </td>
            </tr>

            <tr>
              <th class="table-title">
                Serial Number
              </th>
              <td class="table-data">
                {{chromebook.serialNumber}}
              </td>
            </tr>

            <tr>
              <th class="table-title">
                Last User
              </th>
              <td class="table-data">
                {{chromebook.recentUsers[0].email}}
              </td>
            </tr>

            <tr>
              <th class="table-title">
                OU
              </th>
              <td class="table-data">
                {{chromebook.orgUnitPath}}
              </td>
            </tr>

            <tr>
              <th class="table-title">
                Model
              </th>
              <td class="table-data">
                {{chromebook.model}}
              </td>
            </tr>

            <tr>
              <th class="table-title">
                MAC Address
              </th>
              <td class="table-data">
                {{chromebook.macAddress.toUpperCase()}}
              </td>
            </tr>

          </table>
        </mat-card-content>
      </mat-card>

  <!--Google User-->
  <mat-card>
        <mat-card-title>
          <h3>User: {{user.id}}</h3>
        </mat-card-title>

        <mat-card-content>
          <table class="table">

            <tr>
              <th class="table-title">
                Name
              </th>
              <td class="table-data">
                {{user.name.fullName}}
              </td>
            </tr>

            <tr>
              <th class="table-title">
                ID
              </th>
              <td class="table-data">
                {{user.id}}
              </td>
            </tr>

            <tr>
              <th class="table-title">
                Emails
              </th>
              <td class="table-data" *ngFor="let email of user.emails">
                {{email.address}}
              </td>
            </tr>

            <tr>
              <th class="table-title">
                Is Suspended
              </th>
              <td class="table-data">
                {{user.suspended}}
              </td>
            </tr>

            <tr>
              <th class="table-title">
                OU
              </th>
              <td class="table-data">
                {{user.orgUnitPath}}
              </td>
            </tr>

            <tr>
              <th class="table-title">
                Last Login Time
              </th>
              <td class="table-data">
                {{user.lastLoginTime}}
              </td>
            </tr>

          </table>
        </mat-card-content>
      </mat-card>

  <!--Return Data-->


</div>

<mat-card class="return-data-card">
  <mat-card-title>
    Return Data
  </mat-card-title>
  <mat-card-content class="return-container">
    <p>
      Returned Chromebook
      <mat-checkbox [(ngModel)]="student.ReturnData.chromebook" (ngModelChange)="updateChromebook()"></mat-checkbox>
    </p>
    <p>
      Returned Charger
      <mat-checkbox [(ngModel)]="student.ReturnData.charger" (ngModelChange)="updateCharger()"></mat-checkbox>
    </p>
    <p>
      Returned Chromebook
      <mat-checkbox [(ngModel)]="student.ReturnData.case" (ngModelChange)="updateCase()"></mat-checkbox>
    </p>
    <p *ngIf="student.ReturnData.notes">Notes: {{student.ReturnData.notes}}</p>
    <div>
      Update Notes:

      <form class="notes-form">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Notes</mat-label>
          <textarea formControlName="Notes" matInput #Notes maxlength="256" placeholder="Ex. Case was damaged">{{student.ReturnData.notes}}</textarea>
          <mat-hint align="end">{{Notes.value.length}} / 256</mat-hint>
        </mat-form-field>
      </form>

    </div>

    <div class="button-container">
      <button mat-raised-button>Update Values</button>
      <button mat-raised-button color="warn" routerLink="/">Return to search</button>
    </div>
  </mat-card-content>
</mat-card>
