.notes-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
mat-card {
  max-width: 500px;
  min-width: 200px;
  margin: 10px;
}


.container {
  .tab-icon {
    margin-right: 8px;
  }


}
