<div class="container">
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <mat-card *ngIf="chromebook">
    <mat-card-title>
      <h3>Chromebook: {{chromebook.serialNumber}}</h3>

    </mat-card-title>

    <mat-card-content>
      <table class="table">

        <tr>
          <th class="table-title">
            VASD Code
          </th>
          <td class="table-data">
            {{chromebook.annotatedAssetId}}
          </td>
        </tr>

        <tr>
          <th class="table-title">
            Serial Number
          </th>
          <td class="table-data">
            {{chromebook.serialNumber}}
            <!--button mat-raised-button [cdkCopyToClipboard]="chromebook.serialNumber" color="accent">Copy</button-->
          </td>
        </tr>

        <tr>
          <th class="table-title">
            Last User
          </th>
          <td class="table-data">
            <a routerLink="/student/{{recentUserStudent.GInfo.id}}" *ngIf="recentUserStudent" >
              {{chromebook.recentUsers[0].email}}
            </a>
            <p *ngIf="!recentUserStudent">
              {{chromebook.recentUsers[0].email}}
            </p>

          </td>
        </tr>

        <tr>
          <th class="table-title">
            OU
          </th>
          <td class="table-data">
            {{chromebook.orgUnitPath}}
          </td>
        </tr>

        <tr>
          <th class="table-title">
            Model
          </th>
          <td class="table-data">
            {{chromebook.model}}
          </td>
        </tr>

        <tr>
          <th class="table-title">
            MAC Address
          </th>
          <td class="table-data">
            {{chromebook.macAddress.toUpperCase()}}
          </td>
        </tr>

        <tr *ngIf="hasStudent">
          <th class="table-title">
            Assigned Student
          </th>
          <td class="table-data">
            {{student.Name}}
          </td>
        </tr>

      </table>
      <div>
        <button mat-raised-button color="accent" routerLink="/chromebook/{{chromebook.serialNumber}}/addStudent" *ngIf="!hasStudent">Assign Chromebook</button>
        <button mat-raised-button color="accent" routerLink="/student/{{studentID}}" *ngIf="hasStudent">Go To Student Page</button>
        <button mat-raised-button color="warn" routerLink="/">Return to search</button>
      </div>
    </mat-card-content>
  </mat-card>



</div>
