<div class="container">
  <mat-card>
    <mat-card-title>
      <h3>Chromebook: {{chromebook.serialNumber}}</h3>
    </mat-card-title>

    <mat-card-content>
      <table class="table">

        <tr>
          <th class="table-title">
            VASD Code
          </th>
          <td class="table-data">
            {{chromebook.annotatedAssetId}}
          </td>
        </tr>

        <tr>
          <th class="table-title">
            Serial Number
          </th>
          <td class="table-data">
            {{chromebook.serialNumber}}
          </td>
        </tr>

        <tr>
          <th class="table-title">
            Last User
          </th>
          <td class="table-data">
            {{chromebook.recentUsers[0].email}}
          </td>
        </tr>

        <tr>
          <th class="table-title">
            OU
          </th>
          <td class="table-data">
            {{chromebook.orgUnitPath}}
          </td>
        </tr>

        <tr>
          <th class="table-title">
            Model
          </th>
          <td class="table-data">
            {{chromebook.model}}
          </td>
        </tr>

        <tr>
          <th class="table-title">
            MAC Address
          </th>
          <td class="table-data">
            {{chromebook.macAddress.toUpperCase()}}
          </td>
        </tr>

      </table>

    </mat-card-content>
  </mat-card>



</div>
