<div class="container">
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <mat-card *ngIf="user">
    <mat-card-title>
      <h3>User: {{user.id}}</h3>

    </mat-card-title>

    <mat-card-content>
      <table class="table">

        <tr>
          <th class="table-title">
            Name
          </th>
          <td class="table-data">
            {{user.name.fullName}}
          </td>
        </tr>

        <tr>
          <th class="table-title">
            ID
          </th>
          <td class="table-data">
            {{user.id}}
          </td>
        </tr>

        <tr>
          <th class="table-title">
            Emails
          </th>
          <td class="table-data" *ngFor="let email of user.emails">
            {{email.address}}
          </td>
        </tr>

        <tr>
          <th class="table-title">
            Is Suspended
          </th>
          <td class="table-data">
            {{user.suspended}}
          </td>
        </tr>

        <tr>
          <th class="table-title">
            OU
          </th>
          <td class="table-data">
            {{user.orgUnitPath}}
          </td>
        </tr>

        <tr>
          <th class="table-title">
            Last Login Time
          </th>
          <td class="table-data">
            {{user.lastLoginTime}}
          </td>
        </tr>

        <tr *ngIf="hasStudent">
          <th class="table-title">
            Assigned Chromebook
          </th>
          <td class="table-data">
            {{student.Chromebook.serialNumber}} | {{student.Chromebook.annotatedAssetId}}
          </td>
        </tr>
      </table>
      <div>
        <button mat-raised-button color="accent" routerLink="/user/{{user.id}}/addStudent" *ngIf="!hasStudent">Assign Student</button>
        <button mat-raised-button color="accent" routerLink="/student/{{studentID}}" *ngIf="hasStudent">Go To Student Page</button>
        <button mat-raised-button color="warn" routerLink="/">Return to search</button>
      </div>
    </mat-card-content>
  </mat-card>



</div>
